
{% extends "example/layout-index-brand.html" %}

{% block pageTitle %}
  Jugglers register design
{% endblock %}

{% block content %}


<a href="/example/index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!--     <h1 class="govuk-heading-l">Design assets<span class="govuk-visually-hidden"> for Juggling Register</span></h1>

    <p>Protoypes and assets used across the phases.</p> -->

    <h2 class="govuk-heading-l" id="seetheservice">See the service</h2>

    <h3 class="govuk-heading-m">production service</h3>

    <p><a href="">GOV.UK private beta service</a> - the public service</p>
    <p><a href="">analytics dashboard</a></p>

    <!-- insert 2 screenshots ? -->

    <h3 class="govuk-heading-m" id="upcoming">Upcoming improvements</h3>
    <p>prototyped and tested <a href="">photos of jugglers</a> newly registering, or re-registering using the Dept of Street Performers new digital service (due end Oct) - helps people validate the license holder. <span class="prototype-label">(prototype)</span></p>
    <p><a href="">trial notifcation of revoked license</a> - small trial of frequent users, A/B testing notification formats (due end Oct) - helps people find a replacement juggler. <span class="prototype-label">(prototype)</span></p>

    <div class="thumbnail-panel">
    	<h4 class="govuk-heading-s govuk-visually-hidden">screenshots</h4>
    	<div> row
    		<div>
    			<img>thumb1 and caption
    			<p></p>
    		</div>
    		<div>
    			<img>thumb2 and caption
    			<p></p>
    		</div>
    	</div>
  	</div>

		<!-- insert 2 screenshots ? -->

		<h3 class="govuk-heading-m" id="proto-ideas">Beta ideas</h3>
    <p><a href="">what we think full beta looks like</a> - this sort of shape and functionality.  work to do on detail - based on usability testing wth users. <span class="prototype-label">(prototype)</span></p>
    <p><a href="">ideas that haven't worked</a> - things were are permanently parking, or are less confident about. <span class="prototype-label">(prototype)</span></p>

    <!-- insert 2 screenshots ? -->

		<h3 class="govuk-heading-m" id="alpha">Alpha ideas</h3>
    <p><a href="">our spread of ideas investigated to solve the user needs</a> - what we passed Alpha assessment with - the narrative, journey through the service; and ideas to solve user needs that were discarded, or parked for now</p>

		<!-- insert 2 screenshots ? -->


		<h2 class="govuk-heading-m" id="assets">Design assets</h2>
    <p>All the things designers need</p>
    <ul class="govuk-list">
    	<li><a href="">beta prototype - running</a> (heroku) <a href="">(username and password - google drive)</a></li>
    	<li><a href="">beta prototype - code</a> (github)</li>
    	<li><a href="">alpha prototype - running</a> (heroku) <a href="">(username and password - google drive)</a></li>
    	<li><a href="">alpha prototype - code</a> (github)</li>
      <li><a href="">sketch files, images, posters, presentations</a> (google drive folder)</li>
      <li><a href="">design decisions and thinking</a> (google doc)</li>
    </ul>


		<h2 class="govuk-heading-m" id="download">Communications pack</h2>
    <p><a href="design#download">download screenshots, facts, figures; user video clips and feedback</a> about the service</p>

  </div>

    <!----------   grid-row-one-third   --------->

  <div class="govuk-grid-column-one-third">


    <h2 class="govuk-heading-s">Access to protoypes and documents</h2>
  	<p class="govuk-body-s">A username and password is required to view prototypes.  Request this from the team or the design community</p>
  	<p class="govuk-body-s">Documents are stored on HM Land Registry controlled spaces.  Request access from the team</p>

  </div>

</div>






{% endblock %}
