
{% extends "example/layout-index-brand.html" %}

{% block pageTitle %}
  Jugglers register design
{% endblock %}

{% block content %}


<a href="/example/index" class="govuk-back-link">back</a>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
<!--     <h1 class="govuk-heading-l">Design assets<span class="govuk-visually-hidden"> for Juggling Register</span></h1>

    <p>Protoypes and assets used across the phases.</p> -->

    <h2 class="govuk-heading-l" id="seetheservice">See the service</h2>

    <h3 class="govuk-heading-m">production service</h3>

    <p><a href="">GOV.UK private beta service</a> - the public service</p>
    <p><a href="">analytics dashboard</a></p>

    <div class="thumbnail-panel">
    	<h4 class="govuk-heading-s govuk-visually-hiddenx">representive screenshots</h4>
	    <div class="row-thumbnails">
	    	<div class="thumbnail">
	    		<p class="thumb-title">juggler list and search</p>
	    		<a href="/public/images/thumbnail.jpg">
	    			<img alt="searchable list of jugglers page" src="/public/images/thumbnail.jpg">
	    		</a>
	    	</div>
	    	<div class="thumbnail">
    			<p class="thumb-title">juggler license information</p>
    			<a href="/public/images/thumbnail.jpg">
    				<img alt="juggler license information page" src="/public/images/thumbnail.jpg">
    			</a>
    		</div>
    		<p>view <a href="">full set, gallery.io (needs google account)</a>, or download full set <a href="design#download">comms pack (all screens, overview, narrative, facts and insights)</a></p>
	  	</div> 	
  	</div>

    <!-- insert 2 screenshots ? -->

    <h3 class="govuk-heading-m" id="upcoming">Upcoming improvements</h3>
    <p>prototyped and tested <a href="">photos of jugglers</a> newly registering, or re-registering using the Dept of Street Performers new digital service (due end Oct) - helps people validate the license holder. <span class="prototype-label">(prototype)</span></p>
    <p><a href="">trial notifcation of revoked license</a> - small trial of frequent users, A/B testing notification formats (due end Oct) - helps people find a replacement juggler. <span class="prototype-label">(prototype)</span></p>

    <div class="thumbnail-panel">
    	<h4 class="govuk-heading-s govuk-visually-hidden">representive screenshots</h4>
	    <div class="row-thumbnails">
	    	<div class="thumbnail">
	    		<p class="thumb-title">juggler photos</p>
	    		<a href="/public/images/thumbnail.jpg">
	    			<img alt="juggler license with new - photo of the performer" src="/public/images/thumbnail.jpg">
	    		</a>
	    	</div>
	    	<div class="thumbnail">
    			<p class="thumb-title">revoked license</p>
    			<a href="/public/images/thumbnail.jpg">
    				<img alt="trial notification of revoked license" src="/public/images/thumbnail.jpg">
    			</a>
    		</div>
    		<p>view <a href="">full set, gallery.io (needs google account)</a>, or download full set <a href="design#download">comms pack (all screens, overview, narrative, facts and insights)</a></p>
	  	</div> 	
  	</div>


		<h3 class="govuk-heading-m" id="proto-ideas">Beta ideas</h3>
    <p><a href="">what we think full beta looks like</a> - this sort of shape and functionality.  work to do on detail - based on usability testing wth users. <span class="prototype-label">(prototype)</span></p>
    <p><a href="">ideas that haven't worked</a> - things were are permanently parking, or are less confident about. <span class="prototype-label">(prototype)</span></p>


		<h3 class="govuk-heading-m" id="alpha">Alpha ideas</h3>
    <p><a href="">our spread of ideas investigated to solve the user needs</a> - what we passed Alpha assessment with - the narrative, journey through the service; and ideas to solve user needs that were discarded, or parked for now</p>

		<h2 class="govuk-heading-m" id="download">Communications pack</h2>
    <p><a href="design#download">download screenshots, facts, figures; user video clips and feedback</a> about the service (google drive, zip file, no sign in required)

  	<ul class="govuk-list govuk-list--bullet">
  		<li>screenshots of, and facts and feedback about, the production service</li>
  		<li>screenshots and narrative about upcoming improvements</li>
  		<li>summary of beta proposition, and key screens</li>
  	</ul>

    </p>


		<h2 class="govuk-heading-m" id="assets">Design assets</h2>
    <p>All the things designers need</p>
    <ul class="govuk-list">
    	<li><a href="">beta prototype - running</a> (heroku) <a href="">(username and password - google drive)</a></li>
    	<li><a href="">beta prototype - code</a> (github)</li>
    	<li><a href="">alpha prototype - running</a> (heroku) <a href="">(username and password - google drive)</a></li>
    	<li><a href="">alpha prototype - code</a> (github)</li>
      <li><a href="">sketch files, images, posters, presentations</a> (google drive folder)</li>
      <li><a href="">design decisions and thinking</a> (google doc)</li>
    </ul>


  </div>

    <!----------   grid-row-one-third   --------->

  <div class="govuk-grid-column-one-third">


    <h2 class="govuk-heading-s">Access to protoypes and documents</h2>
  	<p class="govuk-body-s">A username and password is required to view prototypes.  Request this from the team or the design community</p>
  	<p class="govuk-body-s">Documents are stored on HM Land Registry controlled spaces.  Request access from the team</p>

  </div>

</div>






{% endblock %}
