
{% extends "example/layout-index-brand.html" %}

{% block pageTitle %}
  Jugglers register index
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Introduction<span class="govuk-visually-hidden"> to the register of Jugglers</span></h1>

    <p>Jugglers register (private beta: Sept 2019)</p>

    <p>As mandated under the <a href="">Performing Street Artists Act 1967</a> (PSAA 1967), we must keep a list of, and make available to the public, all licensed street performers</p>

    <p>This service, currently in <a href="">Private beta</a>, is to provide the public with the name and license details of any street performers licensed to juggle under the PSAA 1967.</p>

    <p>The list of jugglers will always be up to date - it will instantaneously update, once the <a href="">Department of Street Performers, new digital service</a> accepts the performers application.</p>

    <h2 class="govuk-heading-m">User needs</h2>
    <p>Example high level public user need: In booking artists for a public event i need to ensure that all jugglers are appropriately licensed for the duration of the event</p>
    <p><a href="">Full list of needs identified</a></p>

    <h2 class="govuk-heading-m">Organisational / government benefits</h2>
    <p>Providing a service which allows members of the public to check for themselves should:
    	<ul class="govuk-list govuk-list--bullet">
    		<li>remove the need to process and respond to Form PSAE01v7 - Performing Street Artists Act Enquiry form, of which we get 200,000 per year</li>
    		<li>reduce the number of calls per year (27,000) about correctly filling in the enquiry form</li>
    		<li>reduce the number of calls and emails (86,000) asking when the result of the enquiry will be sent out, or clarifying the result details</li>
    		<li>remove the internal pressure before weekends, public holidays and seasons</li>
    		<li>provide a service that is open when our offices and call centres are not</li>
    		<li><a href="">full list of government benefits identified</a></li>
    	</ul>
    </p>

    <h2 class="govuk-heading-m">Current status</h2>
    <h3 class="govuk-heading-s">This private beta currently shows:</h3>
    	<ul class="govuk-list govuk-list--bullet">
    		<li>all performers listed as jugglers, their name, license number and license expiry date (pre digital licenses - expiry date may be up to a month out of date)</li>
    		<li>up-to-date license validity period information for Jugglers licensed under the new Dept of Street Performers digital service</li>
    		<li>for performers registered under the pre-digital license registration service, the name of the license holder, and how to get hold of up-to-date license validity period information (contact the Dept of Street Performers)</li>
    		<li>for street performers, information as to how to get their details up to date (signposting to the Dept of Street Performers digital service)</li>
    	</ul>


    <h3 class="govuk-heading-s">MVP Beta service/successful beta feels like:</h3>
    	<ul class="govuk-list govuk-list--bullet">
    		<li>all jugglers listed, the private beta information plus photo</li>
    		<li>all jugglers who have applied for a new license or license extension - and when their license application will be decided (so people can check back at the right time, or chase the Dept of Street Performers)</li>
    		<li>optional notification if a jugglers license is revoked</li>
    		<li>whether this proposition works well in solving the public need. Should it be extended to the other types of street performers, and what that service looks like (pass an alpha assessment for street performers register(s))</li>
    		<li><a href="">full list of success criteria</a></li>
    	</ul>


    <h2 class="govuk-heading-l">History<span class="govuk-visually-hidden"> of the register of Jugglers</span></h2>

    <h3 class="govuk-heading-m">Private beta</h3>
    <p>Started 14 Sept 2019 - due to be reviewed mid Nov</p>

    <h3 class="govuk-heading-m"><a href="">Alpha</a></h3>
    <p>Started June 2019 - Completed Sept 2019 - passed <a href="">Alpha assessment August 2019</a></p>
    
  </div>

  <!----------   grid-row-one-third   --------->

  <div class="govuk-grid-column-one-third">
    <h2 class="govuk-heading-m"><a href="design#seetheservice">See the service</a></h2>
    <ul class="govuk-list govuk-body-s">
      <li><a href="">the private beta service</a> and <a href="">analytics dashboard</a></li>
      <div class="govuk-section-break--m"></div>
      <li><a href="design#upcoming">upcoming features</a> (latest thinking)</li>
      <li><a href="design#proto-ideas">beta ideas</a> (being refined, investigated or parked)</li>
      <li><a href="design#alpha">alpha prototype/screens</a></li>
      <div class="govuk-section-break--m"></div>
      <li><a href="design#assets">all design assets</a></li>
    </ul>


    <h2 class="govuk-heading-m">Communications pack</h2>
    <p><a href="design#download">download screenshots, facts, figures; user video clips and feedback</a> about the service</p>

    <h2 class="govuk-heading-m">Related information</h2>
    <ul class="govuk-list govuk-body-s">
      <li><a href="">user needs</a> (google doc)</li>
      <li><a href="">user feedback</a> (google drive, videos and documents)</li>
      <li><a href="">government benefits</a> (google doc)</li>
      <li><a href="">'roadmap'</a> (google doc)</li>
      <li><a href="">technical documentation</a> (internal tech docs)</li>
      <li><a href="">Dept of Street Performers digital License service</a></li>
      <hr>
      <li>the <a href="https://designers-project-anthology.herokuapp.com">anthology of all other HMLR projects, services and products</a></li>
    </ul>

  </div>

</div>


{% endblock %}
